// importing partial, set file name starting with _, to ignore compile
// order of import matters - top to bottom

// variables & functions
@import 'variables';

// base & layout
@import 'base';

// colors
@import 'colors';

// components (button, card, nav)
@import 'components/card';

// utilities (margin, padding, opacity)
@import 'components/button';
